<moya xmlns="http://moyaproject.com">

    <!-- Initialize a server -->
    <server docname="main">
        <import lib="moya.widgets.extra"/>
        <import lib="moya.imagelib"/>
        <import lib="moya.wiki"/>
        <import lib="moya.debug" if=".debug"/>
        <import lib="moya.diagnostics" if="not .debug"/>
        <import lib="moya.auth"/>
        <import lib="moya.session"/>
        <import lib="moya.admin"/>
        <import lib="moya.static"/>
        <import lib="moya.links"/>
        <import lib="moya.twitter.bootstrap"/>
        <import lib="moya.forms"/>
        <import lib="moya.widgets"/>
        <import lib="moya.jsonrpc"/>
        <import lib="moya.wysihtml5"/>
        <import lib="moya.thumbnail"/>

        <!-- The 'site' library, for non reusable content -->
        <import location="./site" priority="10"/>
        <install lib="site.pyfilesystem" name="site" mount="/" urlpriority="20"/>

        <!-- Install applications (instances of a library) -->
        <install lib="moya.forms" name="forms"/>
        <install lib="moya.widgets" name="widgets"/>
        <install lib="moya.auth" name="auth" mount="/auth/"/>
        <install lib="moya.session" name="session" mount="/"/>
        <install lib="moya.admin" name="admin" mount="/admin/"/>
        <install lib="moya.static" name="media" mount="/static/"/>
        <install lib="moya.debug" name="debug" mount="/debug/" if=".debug"/>
        <install lib="moya.diagnostics" name="diagnostics" if="not .debug"/>
        <install lib="moya.twitter.bootstrap" name="bootstrap"/>
        <install lib="moya.links" name="links"/>
        <install lib="moya.jsonrpc" name="jsonrpc"/>
        <install lib="moya.wysihtml5" name="wysihtml5"/>
        <install lib="moya.wiki" name="wiki" mount="/" urlpriority="10"/>
        <install lib="moya.thumbnail" name="thumbnail"/>
        <install lib="moya.static" name="uploads" mount="/uploads/"/>
        <install lib="moya.imagelib" name="imagelib" mount="/imagelib/"/>

        <mount app="auth" mountpoint="middleware" url="/"/>
    </server>

</moya>