{% extends "base.html" %}

{% block "body" %}
<input type="hidden" name="wiki_rpc" value="{% url 'rpc' from 'moya.wiki' %}" />
<div class="row">

    <div class="col-md-9">
        <div class="heading clear-both">
            <h1>${revision.title}</h1>
        </div>
        <article>
        {% block "main" %}{% render sections.main %}{% /block %}
        </article>
    </div>

    {%- cache for 1d key [page.updated_time, revision.updated_time] %}
    <div class="col-md-3">
        <div style="margin:10px 0px;">
            <a href="/" class="hidden-xs hidden-sm">
            {% insert 'img/logo.svg' fs 'media' %}
            </a>
        </div>

        <div class="list-group">
            <dl class="list-group-item">
                <dt>Author</dt>
                <dd>${revision.author.display_name}</dd>
                <dt>Published</dt>
                <dd>${localize:revision.published_time.date}</dd>
                <dt>Revision</dt>
                <dd>${revision.version}</dd>
            </dl>
        </div>

        {% if tags %}
        <div class="panel panel-default sidebar-menu sidebar-menu">
            <div class="panel-heading"><h5>Tags</h5></div>
            <div class="panel-body">
                <div class="tag-list">
                {%- for tag in tags %}
                    <div class="tag-list-item">
                        <a href="{% url 'page_tag' with tag=tag.slug %}">
                            <i class="fa fa-tag"></i> ${tag.name}
                        </a>
                        {% markup tag.description as 'markdown' %}
                    </div>
                {%- end-for %}
                </div>
            </div>
        </div>
        {% /if %}

    </div>
    {% /cache %}
</div>
{% endblock %}
