{% extends "base.html" %}

{%- block "body" %}
<a href="/" style="width:200px;margin:auto;display:block;padding:20px 0px;">
    {% insert 'img/logo.svg' fs 'media' %}
</a>

<form action="{% url 'page_search' from 'wiki' %}" style="width:500px;padding-bottom:20px;max-width:100%;margin:auto;">
    <div class="form-group">
        <div class="input-group">
            <input type="text" value="${.request.GET.q}" class="form-control" placeholder="Search" name="q">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>

{% render sections.main %}
{%- end %}
