{%- cache for 1m %}
    <div class="footer-container">
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <b>PyFilesystem</b> runs on Python 2.7/3.X &mdash; Linux / Mac / Win
                        </p>

                        {% markdown %}
[![PyPI version](https://badge.fury.io/py/fs.svg)](https://badge.fury.io/py/fs)

{% /markdown %}

                        <hr class="visible-xs visible-sm">
                    </div>

                    <div class="col-md-2">
                        <h4>See Also</h4>
                        <div class="blog-entries">
                            {%- for page in promoted_pages %}
                            <div class="item">
                                <div class="name">
                                    <h5>
                                        <a href="{% url 'page' with slug=page.slug from 'moya.wiki' %}">${page.title}</a>
                                    </h5>
                                </div>
                            </div>
                            {%- end-for %}
                        </div>
                        <hr class="visible-xs visible-sm">
                    </div>

                    <div class="col-md-2">
                        <h4>Recently Published</h4>
                        <div class="blog-entries">
                            {%- for page in recent_pages %}
                            <div class="item">
                                <div class="name">
                                    <h5>
                                        <a href="{% url 'page' with slug=page.slug from 'moya.wiki' %}">${page.title}</a>
                                    </h5>
                                </div>
                            </div>
                            {%- /for %}
                        </div>
                        <hr class="visible-xs visible-sm">
                    </div>
                    <div class="col-md-2">
                        <h4>News</h4>
                        <div class="blog-entries">
                            {%- for page in news_pages %}
                            <div class="item">
                                <div class="name">
                                    <h5>
                                        <a href="{% url 'page' with slug=page.slug from 'moya.wiki' %}">${page.title}</a>
                                    </h5>
                                </div>
                            </div>
                            {%- /for %}
                        </div>
                    </div>

                </div>
            </div>
        </footer>


        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-left">&copy; 2017 <a href="https://www.willmcgugan.com">Will McGugan</a></p>
                        <p class="pull-right">
                            Powered by <a href="https://moyaproject.com">Moya</a> &mdash;
                            Template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://remoteplease.com">Remote Please</a>
                             <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{%- /cache %}